<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ef0ea">  <td>22/02/01 14:50:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLinkDocker.initializeConnection()[pri:0, instance:com.dvidshub.ListViewBrokenImageLinkDocker@3d6f0054]">initializeConnection</td> 
  <td>main@1265900909</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/01 14:51:49</td>   <td>85084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLinkDocker.linkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenImageLinkDocker@3d6f0054]">linkChecker</td> 
  <td>main@1265900909</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/01 14:51:49</td>   <td>85084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLinkDocker.linkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenImageLinkDocker@3d6f0054]">linkChecker</td> 
  <td>main@1265900909</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/01 14:51:49</td>   <td>85084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLinkDocker.linkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenImageLinkDocker@3d6f0054]">linkChecker</td> 
  <td>main@1265900909</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/01 14:51:49</td>   <td>85084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLinkDocker.linkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenImageLinkDocker@3d6f0054]">linkChecker</td> 
  <td>main@1265900909</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/01 14:51:49</td>   <td>85084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLinkDocker.linkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenImageLinkDocker@3d6f0054]">linkChecker</td> 
  <td>main@1265900909</td>   <td></td> </tr>
</table>
