<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ef0ea">  <td>22/03/09 15:41:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CMSBrokenlink.CMSbrokenLinkCheck()[pri:0, instance:com.dvidshub.CMSBrokenlink@434a63ab]">CMSbrokenLinkCheck</td> 
  <td>main@775445710</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/03/09 15:41:49</td>   <td>6549</td> <td>&nbsp;</td><td title="&lt;&lt;CMSBrokenlink.endReport()[pri:0, instance:com.dvidshub.CMSBrokenlink@434a63ab]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775445710</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/03/09 15:41:39</td>   <td>-3813</td> <td>&nbsp;</td><td title="&gt;&gt;CMSBrokenlink.setExtent()[pri:0, instance:com.dvidshub.CMSBrokenlink@434a63ab]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775445710</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/03/09 15:41:49</td>   <td>6231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CMSBrokenlink.tearDown(org.testng.ITestResult)[pri:0, instance:com.dvidshub.CMSBrokenlink@434a63ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@775445710</td>   <td></td> </tr>
</table>
