<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ef0ea">  <td>22/01/14 15:30:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ValidateDownload.tearDown(org.testng.ITestResult)[pri:0, instance:com.dvidshub.ValidateDownload@3ee37e5a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1965445467</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/01/14 15:30:44</td>   <td>4</td> <td>&nbsp;</td><td title="&lt;&lt;ValidateDownload.endReport()[pri:0, instance:com.dvidshub.ValidateDownload@3ee37e5a]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1965445467</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/01/14 15:30:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ValidateDownload.tearDown(org.testng.ITestResult)[pri:0, instance:com.dvidshub.ValidateDownload@3ee37e5a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1965445467</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/01/14 15:30:35</td>   <td>-8667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateDownload.ticketNumberDD2084Link1()[pri:0, instance:com.dvidshub.ValidateDownload@3ee37e5a]">ticketNumberDD2084Link1</td> 
  <td>main@1965445467</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/01/14 15:30:38</td>   <td>-5987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ValidateDownload.setup()[pri:0, instance:com.dvidshub.ValidateDownload@3ee37e5a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1965445467</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/01/14 15:30:38</td>   <td>-5987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ValidateDownload.setup()[pri:0, instance:com.dvidshub.ValidateDownload@3ee37e5a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1965445467</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/01/14 15:30:41</td>   <td>-2545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateDownload.ticketNumberDD2084Link2()[pri:0, instance:com.dvidshub.ValidateDownload@3ee37e5a]">ticketNumberDD2084Link2</td> 
  <td>main@1965445467</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/01/14 15:30:30</td>   <td>-13686</td> <td>&nbsp;</td><td title="&gt;&gt;ValidateDownload.setExtent()[pri:0, instance:com.dvidshub.ValidateDownload@3ee37e5a]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1965445467</td>   <td></td> </tr>
</table>
