<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.dvidshub.ListViewBrokenImageLink</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initializeConnection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>linkChecker</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.dvidshub.MediaGalleryBrokenLink</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initializeConnection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>linkChecker</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.dvidshub.ListViewBrokenVideoLink</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>videoLinkChecker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>initializeConnection</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.dvidshub.HomePageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logInSuccess</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>footerAboutDvidsCheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>footerMediaRequestCheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>scrollToFooter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>footerStoriesCheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>footerContentValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>userLoginValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>footerFeatureCheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>myAlbumCheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navBarValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>footerWebSupportCheck</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
