<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f9b8be">  <td>22/01/31 16:12:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerAboutDvidsCheck()[pri:7, instance:com.dvidshub.HomePageTest@3b6ddd1d]">footerAboutDvidsCheck</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/01/31 16:11:57</td>   <td>-34437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerContentValidation()[pri:5, instance:com.dvidshub.HomePageTest@3b6ddd1d]">footerContentValidation</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/01/31 16:12:21</td>   <td>-10438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerFeatureCheck()[pri:6, instance:com.dvidshub.HomePageTest@3b6ddd1d]">footerFeatureCheck</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/01/31 16:12:53</td>   <td>21712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerMediaRequestCheck()[pri:8, instance:com.dvidshub.HomePageTest@3b6ddd1d]">footerMediaRequestCheck</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/01/31 16:13:01</td>   <td>29591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerStoriesCheck()[pri:9, instance:com.dvidshub.HomePageTest@3b6ddd1d]">footerStoriesCheck</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/01/31 16:13:19</td>   <td>47891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerWebSupportCheck()[pri:10, instance:com.dvidshub.HomePageTest@3b6ddd1d]">footerWebSupportCheck</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/01/31 16:13:21</td>   <td>49928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLink.initializeConnection()[pri:0, instance:com.dvidshub.ListViewBrokenImageLink@23c30a20]">initializeConnection</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="8edcc5">  <td>22/01/31 16:14:04</td>   <td>93299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MediaGalleryBrokenLink.initializeConnection()[pri:0, instance:com.dvidshub.MediaGalleryBrokenLink@3cebbb30]">initializeConnection</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="b9f5a4">  <td>22/01/31 16:13:37</td>   <td>66293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenVideoLink.initializeConnection()[pri:0, instance:com.dvidshub.ListViewBrokenVideoLink@1e1a0406]">initializeConnection</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/01/31 16:13:32</td>   <td>61262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLink.linkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenImageLink@23c30a20]">linkChecker</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="8edcc5">  <td>22/01/31 16:14:09</td>   <td>97915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MediaGalleryBrokenLink.linkChecker()[pri:0, instance:com.dvidshub.MediaGalleryBrokenLink@3cebbb30]">linkChecker</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/01/31 16:13:32</td>   <td>61262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLink.linkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenImageLink@23c30a20]">linkChecker</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/01/31 16:11:36</td>   <td>-54713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.logInSuccess()[pri:0, instance:com.dvidshub.HomePageTest@3b6ddd1d]">logInSuccess</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/01/31 16:11:40</td>   <td>-50536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.myAlbumCheck()[pri:2, instance:com.dvidshub.HomePageTest@3b6ddd1d]">myAlbumCheck</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/01/31 16:11:44</td>   <td>-46514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.navBarValidation()[pri:3, instance:com.dvidshub.HomePageTest@3b6ddd1d]">navBarValidation</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/01/31 16:11:56</td>   <td>-34462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.scrollToFooter()[pri:4, instance:com.dvidshub.HomePageTest@3b6ddd1d]">scrollToFooter</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/01/31 16:11:40</td>   <td>-50592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.userLoginValidation()[pri:1, instance:com.dvidshub.HomePageTest@3b6ddd1d]">userLoginValidation</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="b9f5a4">  <td>22/01/31 16:13:54</td>   <td>83313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenVideoLink.videoLinkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenVideoLink@1e1a0406]">videoLinkChecker</td> 
  <td>main@139566260</td>   <td></td> </tr>
<tr bgcolor="b9f5a4">  <td>22/01/31 16:13:54</td>   <td>83313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenVideoLink.videoLinkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenVideoLink@1e1a0406]">videoLinkChecker</td> 
  <td>main@139566260</td>   <td></td> </tr>
</table>
