<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e949d">  <td>22/02/05 19:23:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestDocker.footerAboutDvidsCheck()[pri:7, instance:com.dvidshub.HomePageTestDocker@25fb8912]">footerAboutDvidsCheck</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/02/05 19:23:06</td>   <td>-35037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestDocker.footerContentValidation()[pri:5, instance:com.dvidshub.HomePageTestDocker@25fb8912]">footerContentValidation</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/02/05 19:23:30</td>   <td>-11328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestDocker.footerFeatureCheck()[pri:6, instance:com.dvidshub.HomePageTestDocker@25fb8912]">footerFeatureCheck</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/02/05 19:24:03</td>   <td>21422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestDocker.footerMediaRequestCheck()[pri:8, instance:com.dvidshub.HomePageTestDocker@25fb8912]">footerMediaRequestCheck</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/02/05 19:24:10</td>   <td>28881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestDocker.footerStoriesCheck()[pri:9, instance:com.dvidshub.HomePageTestDocker@25fb8912]">footerStoriesCheck</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/02/05 19:24:28</td>   <td>46724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestDocker.footerWebSupportCheck()[pri:10, instance:com.dvidshub.HomePageTestDocker@25fb8912]">footerWebSupportCheck</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/02/05 19:16:35</td>   <td>-425922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenVideoLinkDocker.initializeConnection()[pri:0, instance:com.dvidshub.ListViewBrokenVideoLinkDocker@47faa49c]">initializeConnection</td> 
  <td>TestNG-test=Test-1@802653238</td>   <td></td> </tr>
<tr bgcolor="b9f5a4">  <td>22/02/05 19:17:32</td>   <td>-369427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MediaGalleryBrokenLinkDocker.initializeConnection()[pri:0, instance:com.dvidshub.MediaGalleryBrokenLinkDocker@7c24b813]">initializeConnection</td> 
  <td>TestNG-test=Test-1@802653238</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/02/05 19:16:35</td>   <td>-425922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLinkDocker.initializeConnection()[pri:0, instance:com.dvidshub.ListViewBrokenImageLinkDocker@f5acb9d]">initializeConnection</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="b9f5a4">  <td>22/02/05 19:17:38</td>   <td>-363560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MediaGalleryBrokenLinkDocker.linkChecker()[pri:0, instance:com.dvidshub.MediaGalleryBrokenLinkDocker@7c24b813]">linkChecker</td> 
  <td>TestNG-test=Test-1@802653238</td>   <td></td> </tr>
<tr bgcolor="8edcc5">  <td>22/02/05 19:17:40</td>   <td>-361118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BrokenLinksDocker.linkChecker()[pri:0, instance:com.dvidshub.BrokenLinksDocker@2c35e847]">linkChecker</td> 
  <td>TestNG-test=Test-1@802653238</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/02/05 19:17:50</td>   <td>-351657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLinkDocker.linkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenImageLinkDocker@f5acb9d]">linkChecker</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/02/05 19:17:50</td>   <td>-351657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLinkDocker.linkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenImageLinkDocker@f5acb9d]">linkChecker</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/02/05 19:17:50</td>   <td>-351657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLinkDocker.linkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenImageLinkDocker@f5acb9d]">linkChecker</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="d68fcd">  <td>22/02/05 19:17:50</td>   <td>-351657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenImageLinkDocker.linkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenImageLinkDocker@f5acb9d]">linkChecker</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/02/05 19:18:09</td>   <td>-332018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestDocker.logInSuccess()[pri:0, instance:com.dvidshub.HomePageTestDocker@25fb8912]">logInSuccess</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/02/05 19:22:50</td>   <td>-51345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestDocker.myAlbumCheck()[pri:2, instance:com.dvidshub.HomePageTestDocker@25fb8912]">myAlbumCheck</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/02/05 19:22:54</td>   <td>-47650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestDocker.navBarValidation()[pri:3, instance:com.dvidshub.HomePageTestDocker@25fb8912]">navBarValidation</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/02/05 19:23:06</td>   <td>-35056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestDocker.scrollToFooter()[pri:4, instance:com.dvidshub.HomePageTestDocker@25fb8912]">scrollToFooter</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="7e949d">  <td>22/02/05 19:22:50</td>   <td>-51409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestDocker.userLoginValidation()[pri:1, instance:com.dvidshub.HomePageTestDocker@25fb8912]">userLoginValidation</td> 
  <td>TestNG-test=Test-2@1078653887</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/02/05 19:17:23</td>   <td>-378431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenVideoLinkDocker.videoLinkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenVideoLinkDocker@47faa49c]">videoLinkChecker</td> 
  <td>TestNG-test=Test-1@802653238</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/02/05 19:17:23</td>   <td>-378431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenVideoLinkDocker.videoLinkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenVideoLinkDocker@47faa49c]">videoLinkChecker</td> 
  <td>TestNG-test=Test-1@802653238</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/02/05 19:17:23</td>   <td>-378431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenVideoLinkDocker.videoLinkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenVideoLinkDocker@47faa49c]">videoLinkChecker</td> 
  <td>TestNG-test=Test-1@802653238</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/02/05 19:17:23</td>   <td>-378431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenVideoLinkDocker.videoLinkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenVideoLinkDocker@47faa49c]">videoLinkChecker</td> 
  <td>TestNG-test=Test-1@802653238</td>   <td></td> </tr>
<tr bgcolor="f9b8be">  <td>22/02/05 19:17:23</td>   <td>-378431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListViewBrokenVideoLinkDocker.videoLinkChecker()[pri:0, instance:com.dvidshub.ListViewBrokenVideoLinkDocker@47faa49c]">videoLinkChecker</td> 
  <td>TestNG-test=Test-1@802653238</td>   <td></td> </tr>
</table>
