<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ef0ea">  <td>22/02/02 09:27:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerMediaRequestCheck()[pri:8, instance:com.dvidshub.HomePageTest@4d465b11]">footerMediaRequestCheck</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/02 09:27:15</td>   <td>7500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerStoriesCheck()[pri:9, instance:com.dvidshub.HomePageTest@4d465b11]">footerStoriesCheck</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/02 09:27:31</td>   <td>23703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerWebSupportCheck()[pri:10, instance:com.dvidshub.HomePageTest@4d465b11]">footerWebSupportCheck</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/02 09:25:56</td>   <td>-72133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.myAlbumCheck()[pri:2, instance:com.dvidshub.HomePageTest@4d465b11]">myAlbumCheck</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/02 09:26:10</td>   <td>-57467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.scrollToFooter()[pri:4, instance:com.dvidshub.HomePageTest@4d465b11]">scrollToFooter</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/02 09:26:35</td>   <td>-32488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerFeatureCheck()[pri:6, instance:com.dvidshub.HomePageTest@4d465b11]">footerFeatureCheck</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/02 09:26:46</td>   <td>-22112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerAboutDvidsCheck()[pri:7, instance:com.dvidshub.HomePageTest@4d465b11]">footerAboutDvidsCheck</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/02 09:26:10</td>   <td>-57453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.footerContentValidation()[pri:5, instance:com.dvidshub.HomePageTest@4d465b11]">footerContentValidation</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/02 09:25:56</td>   <td>-72212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.userLoginValidation()[pri:1, instance:com.dvidshub.HomePageTest@4d465b11]">userLoginValidation</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/02 09:25:59</td>   <td>-68560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.navBarValidation()[pri:3, instance:com.dvidshub.HomePageTest@4d465b11]">navBarValidation</td> 
  <td>main@65586123</td>   <td></td> </tr>
<tr bgcolor="8ef0ea">  <td>22/02/02 09:25:52</td>   <td>-75737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.logInSuccess()[pri:0, instance:com.dvidshub.HomePageTest@4d465b11]">logInSuccess</td> 
  <td>main@65586123</td>   <td></td> </tr>
</table>
